<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <style type="text/css">
        body {
            padding: 50px;
            font-family: sans-serif;
        }

        h3 {
            color: darkred;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }

        table {
            border-collapse: collapse;
        }

        td {
            border: 1px solid black;
            padding: 10px;
        }
    </style>
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<form id="edit-form" th:object="${order}">
    <button id="exit">Назад</button>
    <div class="row">
        <label for="id-input">Номер заказа:</label>
        <input id="id-input" type="text" readonly="readonly" value="1" th:value="*{id}"/>
    </div>

    <div class="row">
        <label>Статус:</label>
        <button id="pullStatus">Назад</button>
        <span th:text="*{status}"></span>
        <button id="pushStatus">Вперед</button>
        <button id="cancel">Отменить</button>
    </div>

    <div class="row">
        <label>КМ:</label>
        <select id="selectUser"></select>
    </div>

    <div class="row">
        <label>Client:</label>
        <select id="selectClient"></select>
    </div>
</form>
<h3>Выбранные товары:</h3>
<table th:object="${order}">
    <thead>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Количество</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : *{quantities}">
        <td th:text="${item.productId}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.quantity}"></td>
        <td></td>
    </tr>
    <tr>
        <td>new</td>
        <td>
            <select id="selectProducts"></select>
        </td>
        <td>
            <select id="quantitySelect"></select>
        </td>
        <td>
            <button>Add</button>
        </td>
    </tr>
    </tbody>
</table>
<h3>Комментарии КМ:</h3>
<table th:object="${order}">
    <thead>
    <tr>
        <th>ID</th>
        <th>Edit text</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="comment : *{comments}">
        <td th:text="${comment.id}">1</td>
        <td>
            <form>
                <input name="text" type="text" value="Понравилось" th:value="${comment.text}"/>
                <button id="editComment">Save</button>
            </form>
        </td>
        <td>
            <button id="deleteComment">Delete</button>
        </td>
    </tr>
    <tr>
        <td>new</td>
        <td>
            <form>
                <input name="text" type="text"/>
                <input name="bookId" type="hidden" th:value="*{id}"/>
                <button type="newComment">Add</button>
            </form>
        </td>
        <td>-</td>
    </tr>
    </tbody>
</table>
<script>
    $('document').ready(
        function () {
            $('#selectUser').empty();
            $.get('/api/users').done(function (users) {
                    users.forEach( function (user) {
                        if (user.userName === '${order.user}') {
                            $('#selectUser').append(`<option selected>${user.userName}</option>`);
                        } else {
                            $('#selectUser').append(`<option>${user.userName}</option>`);
                        }
                        }
                    )
                }
            )
                .fail( function (error) {
                        alert(error.status + " ошибка: " + error.responseText);
                    }
                );
            $('#selectClient').empty();
            $.get('/api/clients')
                .done(function (clients) {
                    clients.forEach( function (client) {
                        if (client.clientName === '${order.client}') {
                            $('#selectClient').append(`<option selected>${client.clientName}</option>`);
                        } else {
                            $('#selectClient').append(`<option>${client.clientName}</option>`);
                        }
                        }
                    )
                }
            )
                .fail( function (error) {
                    alert(error.status + " ошибка: " + error.responseText);
                    }
                );
        }
    );
    $('#selectClient').on('change', function () {
        console.log($(this).val());
        console.log($(this).closest('tr').find('input#id-input').text());
    });
    $('#selectUser').on('change', function () {
        console.log($(this).val());
        console.log($(this).closest('tr').find('input#id-input').text());
    });
</script>
<script>
    $('#exit').click(function () {
        window.location.href = '/';
        return false;
    })
</script>
<script>
    $('#pullStatus').click(function () {
        console.log($(this).closest('tr').find('input#id-input').text());
    })
</script>
<script>
    $('#pushStatus').click(function () {
        console.log($(this).closest('tr').find('input#id-input').text());
    })
</script>
<script>
    $('#cancel').click(function () {
        console.log($(this).closest('tr').find('input#id-input').text());
    })
</script>
</body>
</html>